<div class="dev-page-error">

    <div class="dev-page-error-block">
        <div class="code">404</div>
        <div class="title">It looks like you have been lost...</div>

        <div class="buttons">
            <div class="row">
                <div class="col-md-6">
                    <button onclick="history.back();" class="btn btn-primary btn-block"><i class="fa fa-angle-left pull-left"></i> Go back</button>
                </div>
                <div class="col-md-6">
                    <a href="index.html" class="btn btn-danger btn-block">Go Home <i class="fa fa-angle-right pull-right"></i></a>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Try to find something that you need:</label>
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Enter keyword...">
                <div class="input-group-btn">
                    <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>