<?php
if(isset($formActionRoute)){
	$form->setAttribute('action', $this->url($formActionRoute));
}
?>
<?php $form->prepare(); echo $this->form()->openTag($form);
foreach ($form as $element) :?>

<?php $class = (!empty($this->formElementErrors($element))) ? 'has-error' : ''; ?>


	<div class="form-group <?php echo $class; ?>">
        <?php 
            if ($element->getOption('required')) { $req = 'required'; }
            $type = $element->getAttribute('type');
            $name = $element->getAttribute('name'); 
            $class = $element->getAttribute('class');
            $label = $element->getLabel();
        ?>
        
        
        <?php 
        
        	if($type == "textarea"){ ?>
				<?php echo $this->headLink()->appendStylesheet($this->basePath().'/common/bootstrap/extend/bootstrap-wysihtml5/css/bootstrap-wysihtml5-0.0.2.css'); ?>
				<?php echo $this->headScript()->appendFile($this->basePath().'/common/bootstrap/extend/bootstrap-wysihtml5/js/wysihtml5-0.3.0_rc2.min.js'); ?>
				<?php echo $this->headScript()->appendFile($this->basePath().'/common/bootstrap/extend/bootstrap-wysihtml5/js/bootstrap-wysihtml5-0.0.2.js'); ?>
			<?php } ?>
        
        <?php 
        if ($type == 'hidden'){
			
					if(isset($this->setValue)){
						foreach ($this->setValue as $key => $value){	
							if($key == $name){echo $this->formElement($element->setValue($value));}
						}
					} else { echo $this->formElement($element); }

		}
        	
        ?>
        
     <?php   if ($label != '') { ?>
            <label class="control-label" for="<?php echo $name; ?>"><?php echo $label ?></label>
           <div class="controls"> 
           		<?php
        			if(isset($this->setValue)){
						foreach ($this->setValue as $key => $value){	
							if($key == $name){
								echo $this->formElement($element->setValue($value));
							}  else { echo $this->formElement($element); }
						}
					} else { echo $this->formElement($element); }
           		?> 
           		<span class="help-inline"><?php echo $this->formElementErrors($element); ?></span>
           		
           </div>
        <?php } ?> 
    </div>
<?php 
endforeach;
// echo $this->formelement($form->get('common')->get('security'));
echo $this->formelement($form->get('common')->get('submit'));
echo $this->form()->closeTag();
