<script type="text/javascript">
	$(document).ready(function(e) {
		var category = "<?php echo (!empty($this->category)) ? $this->category : ''  ?>";
		var tag = "<?php echo (!empty($this->tag)) ? $this->tag : ''  ?>";

		$("#results").append("<div id='placeholder' style='height:500px;'>Učitavanje...</div>").fadeTo("slow", 0.3);
		$( "#results" ).load( "<?php echo $this->url($this->route); ?>", {category:category, tag:tag});
		$("#results").fadeTo("slow", 1);

	});
</script>

<script type="text/javascript">
$(document).ready(function() {

	$(document).keypress(function(e) {
	    if(e.which == 13) {
	        e.preventDefault();

			var search = $(".searchText").val();
			var page = $(".ajaxSort").attr( "data-page" );
			var order_by = $(".ajaxSort").attr( "data-order_by" );
			var order = $(".ajaxSort").attr( "data-order" );


			$.ajax({
				 cache: false,
				 type: 'POST',
				 url: "<?php echo $this->url($this->route); ?>",
				 data: {page:page, order_by:order_by, order:order, search:search},

	             beforeSend: function(){
	                 $("#results").fadeTo( 'slow', 0.2);
             },

		     success: function(data) {
		    	 $("#results").fadeTo( 'fast', 1);    
		    	 $("#results").html( data );
		    	 
		     },
			});
	    }
	});


	$(".search").on( "click", function(event) {
		event.preventDefault();
		var search = $(".searchText").val();
		var page = $(".ajaxSort").attr( "data-page" );
		var order_by = $(".ajaxSort").attr( "data-order_by" );
		var order = $(".ajaxSort").attr( "data-order" );

//		alert(search);

		$.ajax({
			 cache: false,
			 type: 'POST',
			 url: "<?php echo $this->url($this->route); ?>",
			 data: {page:page, order_by:order_by, order:order, search:search},

             beforeSend: function(){
                 $("#results").fadeTo( 'slow', 0.2);
         },

	     success: function(data) {
	    	 $("#results").fadeTo( 'fast', 1);    
	    	 $("#results").html( data );
	    	 
	     },

	     error: function(){
	    	 $( "#results" ).html( "Ne radi" );
		 }
		});
	});

});
</script>