<!--
See http://developer.yahoo.com/ypatterns/pattern.php?pattern=searchpagination
-->


<?php if ($this->pageCount): ?>

<ul class="pagination pagination-right">
<!-- Previous page link -->
<?php if (isset($this->previous)): ?>
  <li><a class="ajaxPaginator" data-page="<?php echo $this->previous; ?>"
         data-search="<?php echo $this->sortParams['search'];?>"
         data-order_by="<?php echo $this->sortParams['order_by'];?>"
         data-order="<?php echo $this->sortParams['order'];?>"
         data-category="<?php echo $this->sortParams['category']; ?>"
         data-tag="<?php echo $this->sortParams['tag']; ?>"
         href="#">
    < Prethodna
  </a></li>
<?php else: ?>
  <li><span class="disabled">< Prethodna</span></li>
<?php endif; ?>

<!-- Numbered page links -->
<?php foreach ($this->pagesInRange as $page): ?>
  <?php if ($page != $this->current): ?>
    <li><a class="ajaxPaginator" data-page="<?php echo $page; ?>"
        data-search="<?php echo $this->sortParams['search'];?>"
        data-order_by="<?php echo $this->sortParams['order_by'];?>"
        data-order="<?php echo $this->sortParams['order']; ?>"
        data-category="<?php echo $this->sortParams['category']; ?>"
        data-tag="<?php echo $this->sortParams['tag']; ?>"
        href="#"><?php echo $page; ?></a></li>
  <?php else: ?>
   <li class="active ajaxPaginator" data-page="<?php echo $page; ?>"
        data-search="<?php echo $this->sortParams['search'];?>"
        data-order_by="<?php echo $this->sortParams['order_by'];?>"
        data-order="<?php echo $this->sortParams['order'];?>"
        data-category="<?php echo $this->sortParams['category']; ?>"
        data-tag="<?php echo $this->sortParams['tag']; ?>"
   ><a href="#"> <?php echo $page; ?></a></li>
  <?php endif; ?>
<?php endforeach; ?>

<!-- Next page link -->
<?php if (isset($this->next)): ?>
  <li><a  class="ajaxPaginator" data-page="<?php echo $this->next; ?>"
          data-search="<?php echo $this->sortParams['search'];?>"
          data-order_by="<?php echo $this->sortParams['order_by'];?>"
          data-order="<?php echo $this->sortParams['order'];?>"
          data-category="<?php echo $this->sortParams['category']; ?>"
          data-tag="<?php echo $this->sortParams['tag']; ?>"
          href="#">
    Sljedeća >
  </a></li>
<?php else: ?>
  <li><span class="disabled">Sljedeća ></span></li>
<?php endif; ?>
</ul>

<?php endif; ?>




<script type="text/javascript">
$(document).ready(function() {
	$(".ajaxPaginator").on( "click", function(event) {
		 event.preventDefault();
		var search = $(this).attr( "data-search" );
		var page = $(this).attr( "data-page" );
		var order_by = $(this).attr( "data-order_by" );
		var order = $(this).attr( "data-order" );
		var category = $(this).attr( "data-category" );
        var tag = $(this).attr( "data-tag" );
		var paginator = true;

		//alert("search: " +  " page: " + page + "order by: " + order_by + " order: " + order);

		$.ajax({
			 cache: false,
			 type: 'POST',
			 url: "<?php  echo $this->url($this->sortParams['route']); ?>",
			 data: {search:search, page:page, order_by:order_by, order:order, paginator:paginator, category:category, tag:tag},

			beforeSend: function(){
				$("#results").fadeTo( 'slow', 0.2);
			},

		     success: function(data) {
				 $("#results").fadeTo( 'fast', 1);
		    	 $( "#results" ).html( data );
		     },
		});
	});

});
</script>